<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      Sprise
      {% if title %}
        &mdash; {{ title }}
      {% endif %}
    </title>

    {% block stylesheets %}
      <link rel="stylesheet" href="/static/css/semantic.min.css">
      <link rel="stylesheet" href="/static/css/sprise.css">
    {% endblock %}
  </head>
  <body>
    {% block header %}
      <div class="ui inverted header segment">
        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a href="/">
              <img src="/static/img/logo.png" class="ui logo image">
            </a>
            <a href="#" class="item">Photos</a>
            <a href="#" class="item">Albums</a>
            <a href="#" class="item">Tags</a>
            <div class="right menu">
              <a href="#" class="item">Upload</a>
              {% if user %}
                <a href="/logout" class="item">Logout</a>
              {% else %}
                <a href="/login" class="item">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
    {% endblock %}

    {% block scripts %}
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/semantic.min.js"></script>
    {% endblock %}
  </body>
</html>
