{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}
  <div class="ui container">
    <h2 class="ui dividing header">
      Recent Photos
      <div class="sub header">
        Photos that have recently been uploaded
      </div>
    </h2>
    <div class="ui six column grid">
      {% for p in photos %}
        <div class="column">
          <a href="/photos/{{ p.ID }}">
            <div class="square"
                 style="background-image: url({{ p.ThumbURL }})"></div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
