{% extends 'base.html' %}

{% block stylesheets %}
  {{ block.Super|safe }}
  <style>
    .segment.uploader,
    .segment.uploader .grid {
      color: #cacbcd !important;
      height: 400px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="ui container">
    <div id="uploader"></div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.Super|safe }}
  <script src="/static/js/fine-uploader.min.js"></script>
  <script type="text/template" id="qq-template">
    <div class="qq-uploader-selector ui two column stackable grid">
      <div class="column">
        <div class="qq-upload-drop-area-selector ui uploader secondary piled segment">
          <div class="ui center aligned middle aligned grid">
            <div class="column">
              <h1>Drag and Drop</h1>
              <button class="qq-upload-button-selector ui button">Select File</button>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="qq-upload-list-selector">
          <div class="ui clearing segment">
            <div class="item">
              <div class="content">
                <div class="extra">
                  <button class="qq-upload-retry-selector ui right floated mini retry button">Retry</button>
                  <button class="qq-upload-cancel-selector ui right floated mini cancel button">Cancel</button>
                </div>
                <p>
                  <span class="qq-upload-file-selector"></span>
                  &mdash;
                  <span class="qq-upload-size-selector"></span>
                </p>
              </div>
            </div>
            <div class="qq-progress-bar-container-selector ui bottom attached progress">
              <div class="qq-progress-bar-selector bar">
                <div class="progress"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script>
    $(function() {

      // Create the uploader
      var uploader = new qq.FineUploader({
        callbacks: {
          onError: function(id, name, errorReason) {
            var fileItem = this.getItemByFileId(id);
            var errorMessage = $('<span>').text(errorReason);
            $('p', fileItem).append('<br>').append(errorMessage);
            $('.progress', fileItem).addClass('error');
          },
          onStatusChange: function(id, oldStatus, newStatus) {
            if (newStatus == qq.status.UPLOAD_SUCCESSFUL) {
              var fileItem = this.getItemByFileId(id);
              var checkmark = $('<i>').addClass('green checkmark icon');
              $('.retry', fileItem).remove();
              $('.cancel', fileItem).text("Dismiss");
              $('p', fileItem).append(checkmark);
              $('.progress', fileItem).removeClass('error').addClass('success');
            }
          }
        },
        element: $('#uploader').get(0),
        request: {
          endpoint: '/upload/ajax'
        }
      });

    });
  </script>
{% endblock %}
