.logo {
  max-height: 48px;
}

.segment.header {
  border-radius: 0;
  padding: 8px;
}

.text-error {
    color: #db2828;
}

@media only screen and (min-width: 992px) {
  .logo {
    margin-right: 40px;
  }
}
