{# Display a non-field error for a form #}
{% macro form_error(error) export %}
  {% if error %}
    <div class="ui negative message">
      <strong>Error:</strong> {{ error }}
    </div>
  {% endif %}
{% endmacro %}

{# Display an <input> element #}
{% macro text(name, title, icon, value, errors, type="text") export %}
  <div class="field{% if errors %} error{% endif %}">
    <div class="ui left icon input">
      <i class="{{ icon }} icon"></i>
      <input type="{{ type }}" placeholder="{{ title }}" name="{{ name }}" value="{{ value }}">
    </div>
    {% for error in errors %}
      <div class="ui red pointing label">
        {{ error }}
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{# Display a selection element #}
{% macro selection(name, title, value, items) export %}
  <div class="field">
    <select name="{{ name }}" class="ui fluid dropdown">
      {% for i in items %}
        <option value="{{ i.ID }}"{% if i.ID == value %} selected{% endif %}>
          {{ i }}
        </option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}

{# Display a submit button #}
{% macro submit(action, fluid=false) export %}
  <button type="submit" class="ui large{% if fluid %} fluid{% endif %} primary button">
    {{ action }}
  </button>
{% endmacro %}
